.container-header{
    background-image: url(../assets/images/layout/header-sky.jpg);
    background-size: cover;
}

.figure-caption {
    font-size: 12px;
}

#main-section {
    border-top: 5px solid;
}

#reply-no:checked ~ * {
    visibility: hidden;
}